.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 880px;
  height: 100%;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #000;
  display: none;
}

.popup_opened {
  display: block;
}

.popup__container {
  width: 430px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__close_button {
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  position: absolute;
  top: -50px;
  right: -40px;
  cursor: pointer;
}

.popup__close_button:hover {
  opacity: 0.8;
}

.popup__content {
  border-radius: 10px;
  background-color: #fff;
}

.popup__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  padding: 34px 64px 54px 36px;
  margin: 0;
}

.popup__form {
  width: 358px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.popup__input {
  width: 358px;
  border: none;
  margin-bottom: 14px;
}

.popup__input_element {
  margin-bottom: 30px;
}

.popup__save_button {
  background-color: #000;
  padding: 15px 124px;
  color: #fff;
  width: 100%;
  margin: 18px 0 36px;
  border: 1px;
  border-radius: 2px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.popup__save_button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 543px) {
  .popup {
    width: 282px;
  }

  .popup__container {
    width: 282px;
  }

  .popup__close_button {
    top: -50px;
    right: -5px;
  }

  .popup__content {
    box-sizing: border-box;
    padding: 25px 22px;
  }

  .popup__title {
    padding: 0 0 76px;
  }

  .popup__form {
    max-width: 238px;
  }

  .popup__input {
    max-width: 238px;
    margin-bottom: 9px;
  }

  .popup__input_element {
    max-width: 238px;
    margin-bottom: 30px;
  }

  .popup__save_button {
    max-width: 238px;
    padding: 14px 92px;
    margin: 16px 0 0;
    font-size: 18px;
  }
}
